@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
}

:root {
  --text: rgb(0, 0, 0);
  --body-background: rgb(245, 248, 246);
  --main-color: rgb(5, 100, 87);
  --text-white: rgb(247, 247, 247);
}

.container {
}
